<!--  schedule page   -->

<!--  scripts for Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE03QBe5yDXRr1fzDvkWs9i_E_BIyCDhk&libraries=places" async
 defer></script>
<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>



<h2> Audit Log </h2>

<hr>
<hr>

<table style="width:100%" class="table table-bordered table-condensed table-hover">
	<tr>
		<strong>
			<th>Type of Rec</th>
			<th>Time</th>
			<th>User Name</th>
			<th>Email</th>
			<th>Outcome</th>
			<th>Browser id</th>
			<th>ip addr</th>
		</strong>
	</tr>
	{{#each outputLines}}
	<tr>
		<td>
			<h5>{{this.typeRec}}</h5>
		</td>
		<td>
			<h5>{{this.timeStampStr}}</h5>
		</td>
		<td>
			<h5>{{this.user_name}}</h5>
		</td>
		<td>
			<h5>{{this.user_email}}</h5>
		</td>
		<td>
			<h5>{{this.fault}}</h5>
		</td>
		<td>
			<h5>{{this.browser_id}}</h5>
		</td>
		<td>
			<h5>{{this.ip_addr}}</h5>
		</td>
	</tr>
	{{/each}}
</table>



<br/>
<br/>
<br/>
<br/>

<script type="text/javascript" src="../../javascript/numeral.js"></script>



<script>

	$(document).ready(function () {
		//document is ready, so move the incoming data over
	});

	//$(document.body).on("click", ".bttn-store", saveAppoint);


</script>