{{#if logged_in}}
	<h2>{{user_name}}'s Groups:</h2>
	{{#each groups}}
	<br>
	<a href="/campaign/{{this.name}}" role="button" data-group="{{this.group_id}}"><h3>{{this.name}}</h3></a>
	<br> 
	{{/each}}
	<br>
	<form action="/group/create" method="post" id="form">
		<input type="text" name="group" placeholder="group name">
		<br>
		<input type="submit" id="submitButton" value="Create New Group">
	</form>

{{else}}
    <p>Please login to create a new group</p>
{{/if}}