<!--  schedule page   -->

<!--  scripts for Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE03QBe5yDXRr1fzDvkWs9i_E_BIyCDhk&libraries=places" async
 defer></script>
<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>


<!-- Modal for getting the current location  -->
<div id="modLocation" class="modal" style="padding:5px !important; width:500px !important; ">
	<div class="modal-content loading">
		<span id="closeModLocation" class="close">&times;</span>
		<h2>Searching for GPS location</h2>
		<hr>
		<hr>
		<p>Please allow location privilege and then wait</p>
	</div>
</div>


<!-- Trigger the help modal with the ? button -->

<div id="modal-help" class="modal" style="padding:5px !important; width:500px !important; ">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close close-help" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="help-errMsg">Error Explanation</h4>
		</div>
		<div class="modal-body">
			<h4 id="help-errExp">explanation </h4>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default close-help" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal-delete">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Warning!!</h4>
				<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<P id="del-event"></P>
				<p>Clicking "Delete" will delete this entry</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger">Delete</button>
				<button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Exit</button>
			</div>
		</div>
	</div>
</div>


<h2> Calendar Scheduler </h2>

<hr>
<hr>

<h4>Previous games</h4>
<table style="width:100%" class="table table-bordered table-condensed table-hover">
	<tr>
		<strong>
			<th>Group name</th>
			<th>Date</th>
			<th>Day</th>
			<th>Start Time</th>
			<th>Stop Time</th>
			<th>Duration</th>
			<th>Picture</th>
		</strong>
	</tr>
	{{#each outputLines}}
	<tr class="row-click2" data-row2="{{this.schedId}}" data-group="{{ this.group_id }}" >
		<td>
			<h5>{{this.group_name}}</h5>
		</td>
		<td>
			<h5>{{this.date_start}}</h5>
		</td>
		<td>
			<h5>{{this.day_start}}</h5>
		</td>
		<td>
			<h5>{{this.time_start}}</h5>
		</td>
		<td>
			<h5>{{this.time_stop}}</h5>
		</td>
		<td>
			<h5>{{this.duration}}</h5>
		</td>
		<td>
			<h5>{{this.picture_avail}}</h5>
		</td>
	</tr>
	{{/each}}
</table>
<br/> {{#if isSchedOutput}}
<h4>Scheduled future games</h4>
<table style="width:100%" class="table table-bordered table-condensed table-hover">
	<tr>
		<strong>
			<th>Location</th>
			<th>Date</th>
			<th>Day</th>
			<th>Start Time</th>
			<th>Stop Time</th>
			<th>Duration</th>
		</strong>
	</tr>
	{{#each schedLines}}
	<tr class="row-click" data-row="{{this.schedId}}">
		<td>
			<h5>{{this.location}}</h5>
		</td>
		<td>
			<h5>{{this.date_start}}</h5>
		</td>
		<td>
			<h5>{{this.day_start}}</h5>
		</td>
		<td>
			<h5>{{this.time_start}}</h5>
		</td>
		<td>
			<h5>{{this.time_stop}}</h5>
		</td>
		<td>
			<h5>{{this.duration}}</h5>
		</td>
	</tr>
	{{/each}}
</table>
{{/if}}

<br/>
<h4>Next Game</h4>

<div class="container">
	<div class="row">
		<div class='col-sm-3'>
			<h4>Next Date</h4>
		</div>
		<div class='col-sm-3'>
			<h4>Start Time</h4>
		</div>
		<div class='col-sm-3'>
			<h4>Stop Time</h4>
		</div>
	</div>

	<div class="row">
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id="startDate">
					<input type='text' class="form-control" id="inpStartDate" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id="startTime">
					<input type='text' class="form-control" id="inpStartTime" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
		</div>
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id='stopTime'>
					<input type='text' class="form-control" data-provide="datepicker-inline" id="inpStopTime" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			//functions to utilize date picker
			$(function () {
				$('#startDate').datetimepicker({
					format: 'MM/DD/YYYY'
				});
			});

			$(function () {
				$('#startTime').datetimepicker({
					format: 'LT'
				});
			});

			$(function () {
				$('#stopTime').datetimepicker({
					format: 'LT'
				});
			});
		</script>

	</div>
	<div class="row">
		<div class='col-sm-6'>
			<h4>location:</h4>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-6'>
			<input type='text' class="form-control" id="locatAddress" />
		</div>
		<div class='col-sm-4'>
			<button class='btn btn-primary bttn-store' type='button'>Save</button>
			<a href='/campaign/{{group}}'><button class='btn btn-primary'>{{group}} Home</button></a>
			<a ><button class='btn btn-primary bttn-group'>{{user_name}} Home</button></a>
		</div>
	</div>
</div>


<br/>
<br/>
<br/>
<br/>

<script type="text/javascript" src="../../javascript/numeral.js"></script>



<script>
	var currLoc = {
		searchLoc: {
			lat: 0.0,
			long: 0.0,
			dist: 0.0
		},
		addrSearchStr: ""
	};

	var rowClickedTag;
	var rowOrigColor

	var keyAPIgoogle = "AIzaSyAE03QBe5yDXRr1fzDvkWs9i_E_BIyCDhk";

	var getLocation = function () {
		$("#modLocation").css("display", "block");
		//modalWaitLocation.style.display = "block";
		navigator.geolocation.getCurrentPosition(showPosition,
			function (error) {
				//there is a problem with getting the GPS data

				geoPushDefault();
				//modalWaitLocation.style.display = "none";
				$("#modLocation").css("display", "none");
			});
	};

	var showPosition = function (position) {
		currLoc.searchLoc.lat = numeral(position.coords.latitude).format("0000.000000");
		currLoc.searchLoc.long = numeral(position.coords.longitude).format("0000.000000");
		currLoc.searchLoc.dist = 0.0;
		currLoc.addrSearchStr = "";
		//next step is to convert to a postal address
		convertGeoToAddr();
	};

	var convertGeoToAddr = function () {
		var userPositionToAddressURL = "https://maps.googleapis.com/maps/api/geocode/json?latlng=";
		userPositionToAddressURL += numeral(currLoc.searchLoc.lat).format("+0000.000000");
		userPositionToAddressURL += "," + numeral(currLoc.searchLoc.long).format("+0000.000000");
		userPositionToAddressURL += "&key=" + keyAPIgoogle;

		$.ajax({
			url: userPositionToAddressURL,
			method: "GET"
		}).then(function (response) {
			currLoc.searchLoc.addrSearchStr = response.results[0].formatted_address;
			//store the orignal string to see if need to re-compute geo location
			//currLoc.searchLoc.addrOriginalStr = currLoc.searchLoc.addrSearchStr;
			$("#locatAddress").val(currLoc.searchLoc.addrSearchStr);
			//turn off wait location
			//modalWaitLocation.style.display = "none";
			$("#modLocation").css("display", "none");
		});
	};


	var saveAppoint = function () {
		//store the appointment
		$.post("/schedule/save",
			{
				group_id: {{ this.group_id }},  //send group ID back during post
		start_date: $("#inpStartDate").val(),
			start_time : $("#inpStartTime").val(),
				stop_time : $("#inpStopTime").val(),
					nextLoc : currLoc
			},
	function (data, status) {
		if (data.errCode === 0) {
			//there is no error  so reload the page
			window.location.reload(true);
			//go to group if pick done
			window.location.href = "/group";
		} else {
			//there is an error ... do something
		};
	});
	};


	var doneAppoint = function () {
		//store the appointment
		$.post("/schedule/done",
			{
				group_id: {{ this.group_id }},  //send group ID back during post
		start_date: $("#inpStartDate").val(),
			start_time : $("#inpStartTime").val(),
				stop_time : $("#inpStopTime").val(),
					nextLoc : currLoc
			},
	function (data, status) {
		if (data.errCode === 0) {
			//there is no error  so reload the page
			//window.location.reload(true);
			//go to group if pick done
			window.location.href = "/group"
		} else {
			//there is an error ... do something
		};
	});
	};

	var evalRowClick = function (data) {
		//console.log( this );
		console.log($(this).attr("data-row"));
		rowClickedTag = $(this);  //save for later
		rowOrigColor =  $(rowClickedTag).css("background-color");
		$(rowClickedTag).css("background-color", "white");
		var modDel = $("#modal-delete");
		$(modDel).css("display", "block");
	};

	var evalRowClick2 = function (data) {
		//console.log( this );
		console.log($(this).attr("data-row2"));
		rowClickedTag = $(this);  //save for later
		var rowClicked = $(rowClickedTag).attr("data-row2");
		var groupId = $(rowClickedTag).attr("data-group");
		var urlString = "/campaign/"+groupId+"/"+rowClicked;  
		window.location.href = urlString;		
	};

	var closeModals = function() {
		var modDel = $("#modal-delete");
		$(modDel).css("display", "none");		
		$(rowClickedTag).css("background-color", rowOrigColor);
		window.location.reload(false); 
	};


	$(document).ready(function () {
		//document is ready, so move the incoming data over
		$("#inpStartDate").val("{{this.start_date}}");
		$("#inpStartTime").val("{{this.start_time}}");
		$("#inpStopTime").val("{{this.stop_time}}");
		getLocation();
	});

	$(document.body).on("click", ".bttn-store", saveAppoint);
	$(document.body).on("click", ".bttn-group", doneAppoint);
	$(document.body).on("click", ".row-click", evalRowClick);
	$(document.body).on("click", ".row-click2", evalRowClick2);
	$(document.body).on("click", ".close-modal", closeModals);


</script>