<ul>
    {{#members}}
    <li>
        <h3>{{name}}</h3>
        {{#if char_name}}
        <p>{{char_name}}</p>
        {{else}}
        <form action="/campaign/{{../group}}/characters/" method="post">
        <input type="hidden" name="memid" value="{{id}}">
            <select name="charid" class="form-control">
                {{#../characters}}
                <option value="{{id}}">{{name}}</option>
                {{/../characters}}
            </select>
            {{/if}}
         {{/members}}
            <input type="submit" value="Choose Characters">
        </form>
    </li>
</ul>