<ul>
    {{#members}}
    <li>
        <h3>{{name}}</h3>
        {{#if char_name}}
        <p>{{char_name}}</p>
        {{else}}
        <form data-userid="{{id}}">
            <select class="form-control">
                {{#../characters}}
                <option value="{{id}}">{{name}}</option>
                {{/../characters}}
            </select>
            <input type="submit" value="Choose Character">
        </form>
        {{/if}}
    </li>
    {{/members}}
</ul>